h1,
div {
    object-position: center;
    text-align: center;
    margin: 10px;
    display: block;
    font-family: Ubuntu;
    font-weight: 500;
    margin-bottom: 50px;
}

#img_city {
    display: none;
}

#name_city {
    display: none;
}


.Name {
    font-size: 50px;
}

button {
    font-family: Ubuntu;
    height: 25px;
    width: 250px;
    margin-top: 50px;
}

.img {
    text-align: center;
    object-position: center;
}

img {
    height: 300px;
    width: auto;
}

img:hover {
    transform: scale(1.2);
    transition: transform 0.2s;
}

